*{
    box-sizing: border-box;
    margin: 0 auto;
}

body{
    background: burlywood;
}

.userCard{
    width: 100%;
    height: 500px;
    min-width: 250px;
    max-width: 400px;
    background: white;
    margin: 20px;
    color: black;
    overflow: hidden;
    border: 10px;
    text-align: center;
    font-size: 16px;
    border-radius: 3%;
}

.userImageContainer{
    width: 200px;
    height: 200px;
    overflow: hidden;
    border: 10px solid rgb(228, 221, 221);
    border-radius: 50%;
}

.userImageContainer > img{
    width: inherit;
    height: inherit;
    object-fit: cover;
}

.userInfoContainer{
    padding: 20px;
}

.userStatContainer{
    background-color:darkslategrey;
    position: absolute;
    margin: 0;
    width: 400px;
    height: 60px;
    border-radius:0 0 10px 10px;
}

.userStatItem{
    display: inline-block;
    color: black;
    width: 100px;
    text-align: center;
}

.userCard > *{
    display:block;
    margin-top: 20px;
}


.userFullName{
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
    padding: 10px;
}

.userInfo{
    font-size: 1em;
    font-style: italic;
    padding: 10px;
}

.button{
    color: white;
    font-size: 30px;
    background-color: lightskyblue;
    width: 150px;
    height: 50px;
    border:2px solid lightsteelblue;
    border-radius: 5px;
    text-align: center;
    margin-top: 15px;
    margin-bottom: -15px;
}

.statName{
    font-weight: normal;
    color: tomato;
    position: relative;
    top: 10px;
}

.statValue{
    font-weight: normal;
    color: white;
    position: relative;
    top: 10px;
}

.post{
    position: relative;
    right: 50px;
    bottom: 20px;
}

.favorites{
    position: relative;
    right: 50px;
    bottom: 20px;
    border-left: 2px solid grey;
    padding-left: 10px;
    padding-right: 10px;
}

.messages{
    position: relative;
    right: 50px;
    bottom: 20px;
    border-left: 2px solid grey;
        padding-left: 10px;

}