*{
    box-sizing: border-box;
    margin: 0 auto;
}

body{
    background: burlywood;
}

.userCard{
    width: 100%;
    height: 400px;
    min-width: 220px;
    max-width: 400px;
    background: silver;
    margin: 20px;
    color: rebeccapurple;
    overflow: hidden;
    border: 10px;
    text-align: center;
    font-size: 16px;
    border-radius: 10%;
}

.userImageContainer{
    width: 150px;
    height: 150px;
    overflow: hidden;
    border: 5px solid white;
    border-radius: 50%;
}

.userImageContainer > img{
    width: inherit;
    height: inherit;
    object-fit: cover;
}

.userInfoContainer{
    padding: 20px;
}

.userStatItem{
    display: inline-block;
    background-color: rgb(196, 156, 235);
    color: black;
    border: 2px solid blueviolet;
}

.userCard > *{
    display:block;
    vertical-align:top;
    margin-top: 20px;
}

.inst,
.fb,
.tel{
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 10px;
}

.userFullName{
    font-weight: bold;
    font-size: 1.5em;
}

.userLink{
    font-size: 1.3em;
    font-style: italic;
}

.statName{
    font-weight: bold;
    font-style: ;
}